.logo:hover{
    color: #141414;
    letter-spacing: 10px;
    animation: acender 0.5s forwards;
}

@keyframes acender{
    to{
        color: #fff;
        text-shadow: 0 0 10px #32f323,0 0 20px #a8dfe1;
    }
}

.titulo{
    background-image: linear-gradient(to right,#95ff00,#9500ff);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.titulo:hover{
    animation: acender 0.5s forwards;
}